.text-input-container {
	width: 80%;
	background-color: #eee;
	margin: auto;
	font-size: 25px;
	outline: none;
	overflow: hidden;
	position: relative;
	border: 2px solid black;
	border-radius: 5px;
}

.text-input {
	position: relative;
	white-space: nowrap;
	transform: translateX();
	font-family: 'Ubuntu mono', monospace;
	margin-left: 50%;
	user-select: none;
	z-index: 1;
}

.text-input:focus {
	outline: none;
}

.separator {
	position: absolute;
	top: 0;
	left: calc(50% - 2px);
	height: 100%;
	width: 1px;
	background-color: #000;
	z-index: 0;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: calc(50% - 2px);
	z-index: 2;
	background: linear-gradient(90deg, rgba(255,255,255, .99), rgba(255,255,255, .7))
}